<div class="home-container">
    <img src="/images/beer-1777934_1920.png" alt="generic beer pic">
    <div class="home-links">
        <a href="/beers">Check the beers!</a>
        <a href="/random-beer">Discover a random beer</a>
    </div> 
</div>