* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.random-beer-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.random-beer-container img {
    margin-right: 100px;
    height: 300px;
}


